#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.answers {
  list-style: none;
  padding: 0;
}

.answers li {
  color: #444;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  background: white;
  border-radius: 2px;
  margin-bottom: 16px;
  width: 100%;
}