:root {
  --main-color: #474083;
  --gryffindor-color: #D74F3F;
  --slytherin-color: #086c5c;
  --ravenclaw-color: #265caa;
  --hufflepuff-color: #FFB72F;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.navbar {
  position: relative;
  padding: 0 32px;
}

.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 64px;
  gap: 64px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  height: 64px;
}

.web-title {
  height: 64px;
}

.web-logo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
  width: 100%;
  height: 64px;
  font-size: 16px;
  font-weight: 600;
  transition: opacity .25s;
}

.web-logo:hover {
  opacity: .6;
}

.web-logo img {
  height: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px
}

.nav-links a {
  color: rgb(255 255 245 / 86%);
  transition: color .25s;
}

.nav-links .gryffindor:hover {
  color: var(--gryffindor-color);
}
.nav-links .ravenclaw:hover {
  color: var(--ravenclaw-color);
}
.nav-links .slytherin:hover {
  color: var(--slytherin-color);
}
.nav-links .hufflepuff:hover {
  color: var(--hufflepuff-color);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: grid;
  margin: 0 auto;
  height: 100vh;
  align-content: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, .7);
  transition: all .5s;
}

.social:hover {
  fill: white;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 32px;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.slogan .heading {
  text-align: center;
}

.slogan span {
  text-transform: uppercase;
}

.slogan h1 {
  font-size: 32px;
}

.shields {
  display: flex;
  justify-content: center;
  grid-gap: 30px;
  gap: 30px;
  margin-bottom: 32px;
}

.hat {
  width: 500px;
}

.hat img {
  width: 100%;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.button {
  background-color: var(--main-color);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: grid;
  align-items: center;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.1px;
  min-width: 200px;
  padding: 18px 31px;
  text-transform: uppercase;
  transition: all .25s;
  width: 100%;
}

.button:hover {
  filter: brightness(85%);
}

.button:disabled,
.button[disabled] {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #faf6f0;
}

.button:disabled:hover,
.button[disabled]:hover {
  box-shadow: inset 0 0 0 2px #faf6f0;
}

.quizz {
  width: 500px;
}

@media screen and (max-width: 992px) {
  .content {
    padding-top: 0;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 0;
    height: 100vh;
    align-content: center;
  }
  .slogan {
    order: 1;
  }
  .hat {
    width: 300px;
    margin: 0 auto;
    order: 0;
  }
  .button {
    margin: 0 auto;
  }
  .quizz{
      width: 300px;
  }
}

.question-title {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 32px;
}

.answers {
  list-style: none;
  padding: 0;
}

.answers li {
  color: #444;
  cursor: pointer;
  height: 48px;
  line-height: 50px;
  background: #BFBFBF;
  opacity: 0.8;
  border: 1px solid transparent;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 24px;
  padding-left: 24px;
  transition: all .25s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.answers .active {
  background: white;
  color: var(--main-color);
  font-weight: 700;
  opacity: 1;
}

.answers li:hover {
  background: white;
  transform: translate(0, -1.25px);
  opacity: 1;
}

.house {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr;
  background-color: #00000066;
  border-radius: 8px;
  padding: 32px 0;
}

.result {
  display: grid;
  align-content: center;
  min-width: 400px;
  text-align: center;
}

@media screen and (min-width: 992px){
  .house{
      grid-template-columns: repeat(2, 1fr);
      padding: 32px;
  }
  .result {
    min-width: 500px;
  }
  .scores {
    border-left: 2px solid #ffffff1a;
  }
}

.result em {
  margin: 0 auto;
  width: 300px;
}

.result img {
  height: 250px;
  margin: 0 auto;
}

.scores {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: left;
}

.scores h3 {
  text-align: center;
}

.scores h4 {
  margin: 12px 0;
  width: 100px;
}

.score {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  gap: 16px;
}

progress {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.progress.Gryffindor {
  background-color: var(--gryffindor-color)
}
.progress.Slytherin {
  background-color: var(--slytherin-color)
}
.progress.Ravenclaw {
  background-color: var(--ravenclaw-color)
}
.progress.Hufflepuff {
  background-color: var(--hufflepuff-color)
}
progress::-webkit-progress-bar {
  background-color: #FFF;
}
.progress.Gryffindor::-webkit-progress-value {
  background-color: var(--gryffindor-color)
}
.progress.Slytherin::-webkit-progress-value {
  background-color: var(--slytherin-color)
}
.progress.Ravenclaw::-webkit-progress-value {
  background-color: var(--ravenclaw-color)
}
.progress.Hufflepuff::-webkit-progress-value {
  background-color: var(--hufflepuff-color)
}